<div class="col">
    <h2 class="text-center">Editar Cliente</h2>
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()">

      <div class="form-group">
        <label for="firstName">First Name:</label>
        <input formControlName="firstName" placeholder="Nombre" name="firstName" class="form-control" id="firstName" required>
      </div>

      <div class="form-group">
        <label for="lastName">Last Name:</label>
        <input formControlName="lastName" placeholder="Apellido" name="lastName" class="form-control" id="lastName" required>
      </div>

      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" formControlName="email" placeholder="Email" name="email" class="form-control" id="email" required>
      </div>

      <button class="btn btn-success">Submit</button>
      <button class="btn btn-primary" routerLink="list-customer">Cancel</button>
    </form>
  </div>
